.btn-layout{
  background-color: var(--dark-pink);
  font-weight: bold;
  border: none;
  font-size: 1.3rem;
  padding: 0.5rem;
  color: var(--white);
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0rem 8rem 4rem;
}

.btn-layout:hover{
  background-color: var(--pink);
  color: var(--light-pink); 
}

.btn-financing,
.btn-contact{
  font-weight: bold;
  border-style: solid;
  border-width: 0.15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.btn-financing{
  background-color: var(--dark-pink);
  color: var(--white);
  border: none;
}

.btn-contact{
  background-color: var(--white);
  color: var(--dark-pink);
  border-style: solid;
  border-width: 0.15rem;
  border-color: var(--dark-pink);
}

.btn-financing:hover,
.btn-contact:hover{
  background-color: var(--pink);
  color: var(--white);
  border: none;
}

.current-page,
.other-pages{
  width: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: bold;
  border-radius: 0.2rem;
}

.current-page{
  border: none;
  background-color: var(--white);
  color: var(--dark-pink);
  border-style: solid;
  border-width: 0.15rem;
  cursor: default;
}

.other-pages{
  border: none;
  background-color: var(--dark-pink);
  color: var(--white);
}

.other-pages:hover{
  background-color: var(--pink);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 14rem 28rem;
}

@media only screen and (min-width: 600px) {
  .current-page,
  .other-pages{
    font-size: 1.8rem;
    border-radius: 0.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .btn-layout{
    font-size: 1.8rem;
  }
}
