.position-cards{
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  justify-content: center;
}

.vertical-card,
.horizontal-card{
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1rem var(--gray);
  position: relative;
}

.vertical-card {
  display: grid;
  width: 40vw;
  padding: 0 0 0.5rem 0;
  font-size: 0.9rem;
}

.horizontal-card {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: auto;
  gap: 1rem;
  font-size: 1.2rem;
}

.vertical-card .photo-card{
  width: 40vw;
  border-radius: 1rem 1rem 0 0;
}

.horizontal-card .photo-card{
  width: 45vw;
  border-radius: 1rem 0 0 1rem;
}

.city{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8rem;
  color: var(--light-pink);
  font-weight: 500;
  text-align: center;
  justify-self: end;
  background: var(--dark-pink);
  border-radius: 1rem 0 0 0;
  opacity : 0.8;
  padding: 0.3rem;
}

.position{
  display: grid;
  width: 40vw;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.horizontal-card .position{
  padding: 0 0 0.5rem 0;
}

.brand{
  text-align: center;
}

.elipse{
  white-space: nowrap; 
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.price{
  justify-self: center;
}

.information{
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .vertical-card,
  .horizontal-card,
  .select-quantity{
    font-size: 1.8rem;
  }

  .city{
    font-size: 1.2rem;
  }

  .brand{
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .vertical-card,
  .vertical-card .photo-card,
  .vertical-card .position{
    width: 22vw;
  }

  .horizontal-card{
    width: 60vw;
  }

  .horizontal-card .photo-card{
    width: 20vw;
  }
  .horizontal-card .position,
  .horizontal-card .elipse{
    width: 40vw;
  }

  .horizontal-card .position{
    grid-template-areas: 
    "marca marca"
    "modelo modelo"
    "preço financiamento"
    "info contato";
    grid-auto-columns: 19vw 19vw;
  }

  .horizontal-card .brand{
    grid-area: marca;
    justify-self: center;
  }

  .horizontal-card .elipse{
    grid-area: modelo;
    justify-self: start;
  }

  .horizontal-card .price{
    grid-area: preço;
    justify-self: start;
  }

  .horizontal-card .information{
    grid-area: info;
  }

  .horizontal-card .financing{
    grid-area: financiamento;
  }

  .horizontal-card .contact{
    grid-area: contato;
  }
}

@media only screen and (min-width: 1440px) {
  .vertical-card,
  .vertical-card .photo-card,
  .vertical-card .position{
    width: 18vw;
  }

  .vertical-card .elipse{
    width: 16vw;
  }

  .horizontal-card {
    width: 50vw;
  }

  .horizontal-card .photo-card{
    width: 12vw;
  }

  .horizontal-card .position,
  .horizontal-card .elipse{
    width: 36vw;
  }

  .horizontal-card .position{
    grid-auto-columns: 21vw 15vw;
  }
}
