.geral {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  align-items: center;
}

.filters{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-quantity{
  background-color: var(--white);
  color: var(--pink);
  width: auto;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0.4rem;
  border: none;
}

@media only screen and (min-width: 600px) {
  .filters{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .filters{
    font-size: 2.5rem;
  }
}
